/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "Ubuntu", "Arial", sans-serif;
    font-size: 20px;
    color: #383838;
    letter-spacing: 1px;
}

h1 {
    margin: 20px 0;
}

.hero-heading {
    text-align: center;
    font-size: 200%;
    font-weight: 100;
}

.hero-heading:after {
    content: "";
    display: block;
    width: 40%;
    height: 4px;
    margin: 20px 30% 0 30%;
    background-color: #6cded2;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* HEADER */

.header {
    width: 100%;
    height: 94vh;
    background-image: linear-gradient(rgba(76, 58, 82, 1), rgba(76, 58, 82, .1)), url(https://static.pexels.com/photos/34069/pexels-photo-large.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header--hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.header--hero-text .hero-heading {
    color: #fff;
    font-size: 300%;
}

/* TEXT JUSTIFY */

.justify {
    text-align: justify;
}

/* COL */

.col-2, .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
    display: inline-block;
    padding: 12px;
    vertical-align: top;
}

.col-2 {
    width: calc(100%/2);
}

.col-3 {
    width: calc(100%/3);
}

.col-4 {
    width: calc(100%/4);
}

.col-5 {
    width: calc(100%/5);
}

.col-6 {
    width: calc(100%/6);
}

.col-7 {
    width: calc(100%/7);
}

.col-8 {
    width: calc(100%/8);
}

.col-9 {
    width: calc(100%/9);
}

.col-10 {
    width: calc(100%/10);
}

.col-12 {
    width: calc(100%/12);
}

/* NAVBAR */

.navbar {
    height: 60px;
    background-color: #4c3a52;
    box-shadow: 0 0 10px #383838;
    position: relative;
}

.left-nav, .right-nav {
    list-style: none;
}

.left-nav li, .right-nav li {
    float: left;
    line-height: 60px;
}

.left-nav li a, .right-nav li a {
    text-decoration: none;
    color: #fff;
    transition: color .5s;
    font-weight: 100;
    font-size: 80%;
}

.left-nav li a, .right-nav li a:hover {
    color: #6cded2;
}

.right-nav li:last-child {
    margin-left: 16px;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

/*remove*/

.space {
    height: 2000px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1025px) {
    .container {
        margin: 0 2%;
    }
}

@media only screen and (max-width: 769px) {
    .col-2, .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 100%;
    }
}